/*** Design tokens ***/
:root {
    --clr-primario: #b71c1c;
    --clr-primario-claro: #7f0000;
    --clr-primario-oscuro: #f05545;
    --clr-terciario-claro: #fcfcf3;
    --clr-morado: #864ff9;
    --ff: "Inconsolata", monospace;
    --h1: 50px;
    --h2: 50px;
    --h3: 50px;
    --h4: 27px;
    --h5: 20px;
    --h6: 16px;
    --h7: 80px;
    --p: 30px;
}

/*** Reset ***/
html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none;
}

li {
    padding-inline: 0; }

img {
    max-width: 100%;
    display: block;
}

/*** Base ***/
body {
    color: var(--clr-primario-oscuro);
    background-color: var(--clr-terciario-claro);
    font-family: var(--ff);
    font-size: var(--p);
    font-weight: 300;
}

h1, h2, h3 {
    font-weight: 600;
}

/* Typescale */
h1 {
    font-size: var(--h1);
}

h2 {
    font-size: var(--h2);
}

h3 {
    font-size: var(--h3);
}

/*** Componentes ***/
.header {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1.5fr;
}

.header img {
    width: 90%;
}

.header h1 {
    justify-self: center;
    align-self: start;
    font-size: 22px;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    padding-right: 70px;
    border-left: 2px solid var(--clr-primario-oscuro);
    line-height: 1.1;
}

/*** Nosotros ***/
.nosotros {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1.5fr;
    --h7: 16px;
}

.nosotros img {
    width: 90%;
    place-self: center;
}

.nosotros p {
    padding: 30px 0 30px 30px;
}

/*** Branding ***/
.branding {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1.5fr;
    gap: 40px;
    margin-right: 20px;
    margin-top: 70px;
}

.branding img {
    width: 100%;
    padding-left: 25px;
    place-self: center;
}

.branding > div h2 {
    position: relative;
    padding-bottom: 60px;
}

.branding > div h2::after {
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 2px solid var(--clr-primario-oscuro);
    content: "Editorial"
}

.branding > div p {
    padding-top: 20px;
}

/*** Sayhi ***/
.sayhi {
    display: grid;
    grid-auto-flow: column;
    /* grid-template-columns: 1fr 1.5fr; */
    padding-top: 70px;
    padding-bottom: 50px;
    margin-left: 20px;
    margin-left: 40px;
    place-content: start;
    gap: 1ch;
    font-size: 33px;
}

.sayhi a {
    color: var(--clr-morado);
}

.equipo {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1.5fr;
    margin-left: 40px;
}

.equipo p {
    padding-top: 20px;
    padding-bottom: 20px;
}

.equipo img:first-of-type {
    width: 100%;
    padding-left: 30px;
}

.equipo img:last-of-type {
    width: 70%;
    padding-left: 30px;
    margin-right: 10px;
}

/*** Testimonios ***/
.testimonios {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1.5fr;
}

.testimonios .cta {
    margin: auto;
}

.testimonios div {
    margin-right: 20px;
}

.testimonios h2 {
    padding-top: 70px;
    padding-bottom: 20px;
}

.testimonios blockquote {
    padding-top: 20px;
    padding-bottom: 20px;
}

.testimonios cite {
}

/*** Social ***/
.social {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1.5fr;
}

.social a {
}

.social a img {
}

/*** Footer ***/
.footer {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1.5fr;
    margin-left: 20px;
}

.footer .contacto {
    padding-top: 70px;
}

.footer .contacto span {
}

.footer .contacto p {
}

/* Slider */
.carrusel {
    position: relative;
    overflow: hidden;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.6);
    width: 100%;
    width: 90vw;
    margin: 100px auto;
  }
  
  .carrusel .open:checked + figure {
    position: static;
    opacity: 100;
  }
  
  .carrusel figure {
    position: absolute;
    opacity: 0;
    transition: opacity 0.4s ease-out;
  }
  
  .carrusel figure img {
    display: block;
    height: auto;
    max-width: 100%;
  }
  
  .carrusel-nav {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    cursor: pointer;
    transform: translate(0, -50%);
    transition: opacity 0.4s linear;
    text-align: center;
    width: 40px;
    z-index: 10;
  }
  
  .carrusel-nav.anterior {
    left: 0.5ch;
  }
  
  .carrusel-nav.siguiente {
    right: 0.5ch;
  }
  
  .carrusel-nav:hover {
    opacity: 0.8;
  }
  
  #uno:checked ~ .uno,
  #dos:checked ~ .dos,
  #tres:checked ~ .tres {
    display: block;
  }
  
  .carrusel-dots {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
  }
  
  .carrusel-dots li {
    display: inline-block;
    margin: 0 0.5rem;
  }
  
  .dot {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 2rem;
    transition: opacity 0.4s linear;
  }
  
  .dot:hover {
    opacity: 0.8;
  }
  
  #uno:checked ~ .uno ~ .carrusel-dots li:nth-child(1) .dot,
  #dos:checked ~ .dos ~ .carrusel-dots li:nth-child(2) .dot,
  #tres:checked ~ .tres ~ .carrusel-dots li:nth-child(3) .dot {
    color: #428bca;
  }

/*** Movil ***/
@media screen and (max-width: 600px) {
    .nosotros, .branding, .equipo, .testimonios {
        /* background-color: #e1d5db; */ grid-auto-flow: unset;
        grid-template-columns: unset;
        gap: 40px;
    }

    .nosotros img {
        grid-row: 2;
    }

    .nosotros p {
        max-width: 90%;
        font-size: 25px;
    }

    .branding {
        padding: 30px 0 30px 30px;
    }

    .branding img {
        grid-row: 2;
        padding-left: 0;
    }

    .testimonios {
        padding: 30px 0 30px 30px;
    }

    .footer {
        display: revert;
        padding: 40px;
        margin-left: 0;
        font-size: 16px;
    }

    .footer .contacto {
        padding-top: 0;
    }
}
