/* Design tokens */
:root {
  --clr-primario: #b71c1c;
  --clr-primario-claro: #7f0000;
  --clr-primario-oscuro:#f05545;
  --clr-secundario: #e57373;
  --clr-secundario-claro: #ffa4a2;
  --clr-secundario-oscuro:#af4448;
  --clr-terciario: #ffccbc;
  --clr-terciario-claro:#ffffee;
  --clr-terciario-oscuro:#cb9b8c;
  --ff-titulos: "monospace",
  --ff-body: "monospace",
  /* https://type-scale.com */
  --h1: 49px;
  --h2: 38px;
  --h3: 31px;
  --h4: 27px;
  --h5: 20px;
  --h6: 16px;
}

/* Base */
body {
  background-color: var(--clr-primario);
}

/* Logo */
.logo{}
/* Objetivo */
.objetivo{}
.objetivo__imagen{https://res.cloudinary.com/soma-agencia-design/image/upload/v1629394217/SoMa/estudio2_mwqwxp.jpg
}
.objetivo__imagen{https://res.cloudinary.com/soma-agencia-design/image/upload/v1629394422/SoMa/estudio4_iynr8p.jpg
}
.objetivo__descripcion{}
.objetivo__subtitulo{}
/* Sayhi */
.sayhi{}
.sayhi__subtitulo{}
.sayhi__descripcion{}
.sayhi__imagen{https://res.cloudinary.com/soma-agencia-design/image/upload/v1629392170/SoMa/image_tp4sho.png
}
/* Footer */
.footer{}
.footer__cta{}
.footer__imagen{https://res.cloudinary.com/soma-agencia-design/image/upload/v1629392118/SoMa/image_wcn6v6.jpg
}
.footer__subtitulo{}
.footer__descripcion{}
.footer__icono
{
  <i class="bi bi-instagram"></i>
  <i class="ri-pinterest-fill"></i>
  <i class="ri-behance-fill"></i>
}
/* Contacto */
.contacto{}
.contacto__subtitulo{}
.contacto__descripcion{}
