/*** Design tokens ***/
:root {
    --clr-primario: #b71c1c;
    --clr-primario-claro: #7f0000;
    --clr-primario-oscuro: #f05545;
    --clr-terciario-claro: #fcfcf3;
    --ff: "Inconsolata", monospace;
    --h1: 49px;
    --h2: 38px;
    --h3: 31px;
    --h4: 27px;
    --h5: 20px;
    --h6: 16px;
}

/*** Reset ***/
html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none;
}

li {
    padding-inline: 0; }

img {
    max-width: 100%;
    display: block;
}

/*** Base ***/
body {
    color: var(--clr-primario-oscuro);
    background-color: var(--clr-terciario-claro);
    font-family: var(--ff);
    font-weight: 300;
}

h1, h2, h3 {
    font-weight: 600;
}

/* Typescale */
h1 {
    font-size: var(--h1);
}

h2 {
    font-size: var(--h2);
}

h3 {
    font-size: var(--h3);
}

/*** Componentes ***/
.header {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1.5fr;
}

.header img {
    width: 90%;
}

.header h1 {
    justify-self: center;
    align-self: start;
    font-size: 22px;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    padding-right: 70px;
}

/*** Nosotros ***/
.nosotros {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1.5fr;
}

.nosotros img {
    width: 90%;
    margin-bottom: 20px;
    padding-left: 30px;
}

.nosotros p {
    padding: 30px;
    max-width: 80%;
}

/*** Branding ***/
.branding {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1.5fr;
    gap: 20px;
}

.branding img {
    width: 92%;
    padding-left: 30px;
}

.branding > div {
}

.branding > div h2 {
}

.branding > div p {
}

/*** Sayhi ***/
.sayhi {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
}

.equipo {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1.5fr;
}

.equipo p {
}

.equipo img:first-of-type {
    width: 90%;
    margin-right: 20px;
}

.equipo img:last-of-type {
    width: 70%;
    
}

/*** Testimonios ***/
.testimonios {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1.5fr;
}

.testimonios .cta {
    margin: auto;
}

.testimonios div {
}

.testimonios h2 {
}

.testimonios blockquote {
}

.testimonios cite {
}

/*** Social ***/
.social {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1.5fr;
}

.social a {
}

.social a img {
}

/*** Footer ***/
.footer {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1.5fr;
}

.footer .contacto {
}

.footer .contacto span {
}

.footer .contacto p {
}

/*** Movil ***/
@media screen and (max-width: 600px) {
    .nosotros, .branding, .equipo, .testimonios {
        /* background-color: #e1d5db; */ grid-auto-flow: unset;
        grid-template-columns: unset;
        gap: 40px;
    }

    .nosotros img {
        grid-row: 2;
    }

    .nosotros p {
        max-width: 90%;
    }

    .branding img {
        grid-row: 2;
    }

    .footer {
        padding: 40px;
    }
}
